# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Environments
.env
.venv
env/
venv/

# Project specific
output/
page_source.html

# IDEs
.vscode/
.idea/

# PyInstaller
build/
dist/
*.spec

# Archives and Logs
*.zip
*.log
